# Created by venv; see https://docs.python.org/3/library/venv.html
Lib
Scripts
Include

.env
.vscode

samples

gift_delivery_note_generator/store_config/**/*.py
images/

*.pyc

gift_delivery_note_generator/test.py
