# Created by venv; see https://docs.python.org/3/library/venv.html
Lib
Scripts
Include

.env
.vscode

*.pyc

order_json/*
Claude outputs

**/settings/**
!**/settings/**/
!**/settings/**/__init__.py
!**/settings/**/*.pyi
